<div class="jumbotron">
  <div class="container">
    <h1>Find a place to stay.</h1>
    <p>Rent from people in over 34,000 cities and 192 countries.</p>
    <br>
    <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">

      <%= form_tag(listings_path, method: "get", id: "search-form", enforce_utf8: false) do %>
        <div class="input-group">
          <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Where do you want to go?" %>
          <div class="input-group-btn">
              <button class="btn" type="submit">&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-search"></span> Search&nbsp;&nbsp;&nbsp;&nbsp;</button>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>

<div class="explore">
  <div class="container">
    <center>
      <h2>Explore the world</h2>
      <p>Discover new, inspiring places close to home.</p>
      <div class="row">
        <div class="col-sm-4">
          <%= image_tag("london.png", class:"img-responsive") %>
        </div>
        <div class="col-sm-4">
          <%= image_tag("ubud.png", class:"img-responsive") %>
        </div>
        <div class="col-sm-4">
          <%= image_tag("rome.png", class:"img-responsive") %>
        </div>
      </div>
      <br>
      <div class="row hidden-xs">
        <div class="col-sm-4">
          <%= image_tag("tokyo.png", class:"img-responsive") %>
        </div>
        <div class="col-sm-4">
          <%= image_tag("sydney.png", class:"img-responsive") %>
        </div>
        <div class="col-sm-4">
          <%= image_tag("bangkok.png", class:"img-responsive") %>
        </div>
      </div>
    </center>
  </div>
</div>

<div class="learn-more">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Travel</h3>
        <p>From apartments and rooms to treehouses and boats: stay in unique spaces in 192 countries.</p>
        <p><a href="#">See how to travel on Airbnb</a></p>
      </div>
      <div class="col-md-4">
        <h3>Host</h3>
        <p>Renting out your unused space could pay your bills or fund your next vacation.</p>
        <p><a href="#">Learn more about hosting</a></p>
      </div>
      <div class="col-md-4">
        <h3>Trust and Safety</h3>
        <p>From Verified ID to our worldwide customer support team, we've got your back.</p>
        <p><a href="#">Learn about trust at Airbnb</a></p>
      </div>
    </div>
  </div>
</div>

