<div class="row">
  <center>
    <h2><%= @index_title %></h2>
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-3 col-lg-8 col-lg-offset-2">

      <% if @listings.count == 0 %>
        <h4>No listings found, <%= link_to "click here to search again.", root_path %></h4>
      <% else %>
        <% @listings.each do |listing| %>
          <div class="col-sm-6 col-md-5 col-lg-4" id="my_listings">
            <h4>
              <%= link_to listing.title, listing_path(listing) %>
            </h4>
            <% if listing.photos? %>
              <%= link_to image_tag(listing.photos[0].url(:thumb).to_s, class: "img-rounded img-responsive"), listing_path(listing) %>
            <% else %>
              <%= link_to image_tag("http://placehold.it/350x250", class: "img-rounded img-responsive"), listing_path(listing) %>
            <% end %>
            <h5><%= listing.city %>, <%= listing.country %></h5>
          </div>
        <% end %>
      <% end %>
    </div>
  </center>
</div>
