<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" id="reservation">
    <div class="page-header">
      <h3>Reservation details</h3>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <% if @listing.photos.empty? %>
          <%= image_tag "http://placehold.it/770x300&text=no images for listing", class:"img-responsive" %>
        <% else %>
          <%= image_tag(@listing.photos[0].url(:carousel).to_s, class:"img-responsive") %>
        <% end %>
        <div class="page-header">
        <h4><%= link_to @listing.title, listing_path(@listing), data: { no_turbolink: true } %></h4>
        </div>
        <%= @listing.about %>
      </div>
      <div class="col-sm-6">
        <div class="hidden-sm hidden-md hidden-lg">
          <br>
        </div>

        <strong>Check-in: </strong><%= @start_date.to_date.to_formatted_s(:long) %>
        <hr>
        <strong>Check-out: </strong><%= @end_date.to_date.to_formatted_s(:long) %>
        <hr>
        <div class="row">
          <div class="col-xs-3">
            <strong>Address:</strong>
          </div>
          <div class="col-xs-9">
            <%= @listing.address %><br>
            <%= @listing.city %>, <%= @listing.state %><br>
            <%= @listing.country %> <%= @listing.zip %><br>
          </div>
        </div><!-- row -->
        <hr>
        <div class="price">
          <h3>Total cost for <%= pluralize((@end_date.to_date - @start_date.to_date).to_i, 'night') %>: $<%= @listing.price * (@end_date.to_date - @start_date.to_date).to_i %></h3>
          <br>
        <strong>Payment method:</strong> Visa / Mastercard
        </div>
        <br>
        <div class="pull-left">
          <%= link_to '<i class="glyphicon glyphicon-remove"></i>&nbsp;&nbsp;Cancel'.html_safe, @listing, data: { no_turbolink: true }, class: "btn btn-danger" %>
        </div>
        <%= form_for :reservation, url: reservations_path do |form| %>
          <%= form.hidden_field :listing_id, value: @listing.id %>
          <%= form.hidden_field :start_date, value: @start_date %>
          <%= form.hidden_field :end_date, value: @end_date %>
          <div class="pull-right">
            <%= button_tag type: "submit", class: "btn btn-success" do %>
              <i class="glyphicon glyphicon-ok"></i>&nbsp;&nbsp;Complete booking
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <br>
    <br>
  </div>
</div>
