<div class="container">

  <p>
    Congratulations, your reservation is confirmed at:
    <h3><%= @reservation.listing.title %></h3>
  </p>

  <p>
    You booked for <%= pluralize((@reservation.end_date-@reservation.start_date).to_i, 'night') %>, check-in on <strong><%= @reservation.start_date.to_formatted_s(:long) %></strong> and check-out on <strong><%= @reservation.end_date.to_formatted_s(:long) %></strong>.
  </p>

  <p>
    You can see more reservation details here: <a href="<%= @url %>" target="_blank"><%= @url %></a>
  </p>

</div>
