<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'PairBnB', root_path, class: 'navbar-brand', html: "h1" %>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div><!-- .navbar-header -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if signed_in? %>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <% if signed_in? %>
          <li>
            <%= link_to '<i class="glyphicon glyphicon-picture"></i>&nbsp;&nbsp;Create new listing'.html_safe, new_listing_path %>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user.email %> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <%= link_to listings_path do %>
                  <%= content_tag :span, "  ", class: "glyphicon glyphicon-home" %>
                  <%= content_tag :span, "My listings  " %>
                  <%= content_tag :span, "#{current_user.listings.count}", class: "badge" %>
                <% end %>
              </li>
              <li>
                <%= link_to reservations_path, data: { no_turbolink: true } do %>
                  <%= content_tag :span, "  ", class: "glyphicon glyphicon-home" %>
                  <%= content_tag :span, "My reservations  " %>
                  <%= content_tag :span, "#{current_user.reservations.count}", class: "badge" %>
                <% end %>
              </li>
              <li class="divider"></li>
                <li><%= link_to '<i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;Profile'.html_safe %></li>
            </ul>
          </li><!-- dropdown -->
          <%= link_to '<i class="glyphicon glyphicon-log-out"></i>&nbsp;&nbsp;Logout'.html_safe, sign_out_path, method: :delete, class: "btn btn-default navbar-btn" %>
        <% else %>
          <li><%= link_to '<i class="glyphicon glyphicon-log-in"></i>&nbsp;&nbsp;Login'.html_safe, sign_in_path %></li>
          <li><%= link_to '<i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;Signup'.html_safe, sign_up_path %></li>
        <% end %>
      </ul>
    </div><!-- .navbar-collapse -->
  </div><!-- .container -->
</nav>
