<!DOCTYPE html>
<html>
<head>
  <title>PairBnB</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render partial: '/layouts/navbar' %>


  <div class="container">

    <%= render partial: '/layouts/flash' %>

  </div>

  <%= yield %>

  <footer>
    Made with <span class="glyphicon glyphicon-heart"></span> by <a href="http://www.natewelling.com" target="_blank">Nate Welling</a>
  </footer>

</body>
</html>
